/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

	html,
	button,
	input,
	select,
	textarea {
	    /*color: #222;*/
		-webkit-font-smoothing: antialiased !important;
	}
	html{
		height: 100%;
	}

	body {
		background-color:#fff;
		font-size: 1em;
		line-height: 1.4;
		height: 100%;
	}

	::-moz-selection {
	    background: #b3d4fc;
	    text-shadow: none;
	}

	::selection {
	    background: #b3d4fc;
	    text-shadow: none;
	}

	fieldset {
	    border: 0;
	    margin: 0;
	    padding: 0;
	}

	textarea {
	    resize: vertical;
	}

	.chromeframe {
	    background: #f5fafa;
	    color: #000;
	    padding: 0.2em 0;
	}

/* ==========================================================================
   Type Kit Essentials
   ========================================================================== */

	body {
		/*font-family: "letter-gothic-std", Monospace;*/
/*		font-family: "prestige-elite-std",monospace;*/
		/*font-family: "sax-mono",monospace;
		font-family: "chennai-slab",serif;
		font-family: "kulturista-web",serif;
		font-family: "arvo",serif;
		font-family: "ocr-a-std",sans-serif;*/
		font-family: monospace;
		padding:0;
		margin:0;
		height: 100%;
	}

	.wf-loading body {
		visibility: hidden;
	}

/* ==========================================================================
   GLOBAL STYLES
   ========================================================================== */

	p {
		font-size: 0.9em;
	}

	blockquote {
		font-size: 1.8em;
		line-height: 1.2em;
		color: #FFF;
		position: relative;
		padding: 0.3em 1em 0.5em 1em;
		text-indent:0;
	}

	a {
		position:relative;
		z-index:8;
		text-decoration:none;
		font-size:0.8em;
		color:#FFF;
	}

	h1 {
		font-size: 3.6em;

		text-decoration: none;
		text-transform: uppercase;
	}

	h2 {
		font-size: 2em;
		color: #FFF;
	}

	h3 {
		font-size: 1em;
	}

	section {
		/*padding: 10em 0 10em 0 !important;*/
		position: relative;
		min-height: 100%;

		margin: 0 auto 0 auto;
		padding-top: 99px;
		width: 100%;
	}

	div {
	   position:relative;
	}

	.dashedLine{
		width: 100%;
		display: block;

		border-bottom-width: .1em;
		border-bottom-style:dashed;
		border-color: #888;
		transform: skewx(-15deg) scaleY(20);
		-moz-transform: skewx(-15deg) scaleY(20);
		-webkit-transform: skewx(-15deg) scaleY(20);
	}

	#sm-link-mobile {
		display: none !important;
	}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

	.bkImage{
		width: 100%;
		height: 100%;
		position: fixed;
		background-color: #fff;
		-webkit-transition: visibility 0.5s, opacity 0.5s;
		 -moz-transition: visibility 0.5s, opacity 0.5s;
		  -ms-transition: visibility 0.5s, opacity 0.5s;
		   -o-transition: visibility 0.5s, opacity 0.5s;
		      transition: visibility 0.5s, opacity 0.5s;
	}

	.video-js{
		width: auto;
		height: auto;
		min-width: 100%;
		min-height: 100%;

	}

	.video-js video{
		width: auto !important;
		height: auto !important;
		min-height: 100%;
		min-width: 100%;
	}

	#vid_1{
/*		opacity: 0;
		filter:alpha(opacity=0);*/
	-webkit-transition: visibility 0.5s, opacity 0.5s;
	 -moz-transition: visibility 0.5s, opacity 0.5s;
	  -ms-transition: visibility 0.5s, opacity 0.5s;
	   -o-transition: visibility 0.5s, opacity 0.5s;
	      transition: visibility 0.5s, opacity 0.5s;
	}

/* == MAIN MENU == */

   nav {
	   width: 100%;
	   background-color: #fff;
	   z-index: 9;
	   text-align: center;
	   margin-top: 100px;
	   color: #333;
	   position: absolute;
	   font-family: "adelle-sans",sans-serif;
   }

   .nav_fixed{
		position: fixed;
		margin-top: 0px;
	}

	#largeLogo{
		padding-top: 20px;
	}

	.nav_fixed #largeLogo{
		display: none;
	}

	nav ul {
		margin: 0 auto 0 auto;
		padding: 0.2em 0 0.2em 0;
	}
	#stickPoint li {
		display:inline-block;
		vertical-align: top;
		margin: 0;
		padding: 0;
		text-transform:capitalize;
		text-transform:uppercase;
	}

	#stickPoint li a {
		display: block;
		width: 100%;
		height: 100%;
		padding: .5em;
		text-align: center;
		font-size:1.5em;
		opacity:0.9;
		text-decoration:none;
		color:#333;
		-webkit-transition: background-color 100ms linear;
		-moz-transition: background-color 100ms linear;
		-o-transition: background-color 100ms linear;
		-ms-transition: background-color 100ms linear;
		transition: background-color 100ms linear;	}

	#stickPoint li a:hover {
		background-color: #ccc;
	}
	.activeLink{
		background-color: #fcf;
	}

	#nav .inactive:hover {
		color:#FFF;
		text-decoration:none;
	}

	#smallLogo {
		height: 25px;
		width: auto;
	}

	.squareLogoHide {
		position: absolute;
		height: 0px;
		width: 0px;
		overflow: hidden;
		transition: height 1s, width 1s;
		-moz-transition: height 1s, width 1s;
		-webkit-transition: height 1s, width 1s;
		-o-transition: height 1s, width 1s;
	}

	#staticSticky{
		position: absolute;
		height: 100px;
		width: 100px;
	}

	#stickPoint {
		padding: 0;
		position: relative; /*this places it ontop of the logo to the left*/
	}

/*	#stickPoint li{
		padding: 0;
		cursor: pointer;
	}

	#stickPoint li:hover{
		background-color: #fcc;
	}*/

/* == Quotes == */

	.quote{
		display: table;
		/*min-height: 30%;*/
	}

	.quote p{
		text-align: center;
		font-family: "adelle-sans",sans-serif;
		font-size: 2.5em;
		font-weight: bold;
        opacity: 0;
        color: #fff;
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

/* == About == */
	#about h1{
		padding-top: 2%;
		margin-bottom: 2%;
		text-align: center;
		font-family: sans-serif;
		font-weight: normal;
	}

	#containerAbout{
		width: 75%;
		min-width:20em;
		margin:7% auto 0 auto;
		background-color: rgba(255,255,255,.9);
	}

	#twoColoumContent{
		width: 95%;
		margin:0 auto 0 auto;
		padding-bottom: 2%;
		-webkit-columns: 2; /* Safari and Chrome */
		-moz-columns: 2; /* Firefox */
		column-count:2; /* ie 10+*/
		column-gap:3em;
		-moz-column-gap:3em; /* Firefox */
		-webkit-column-gap:3em; /* Safari and Chrome */
	}

/* == Services == */
	#services{
		height: 100%;
	}

	#contentServices{
		/*same as containerAbout*/
		width: 75%;
		min-width:20em;
		margin:7% auto 0 auto;
		overflow: hidden;
		height: 100%;
		opacity: 1;

		transition: height 1s, all 500;
		-moz-transition: height 1s, all 500;
		-webkit-transition: height 1s, all 500;
		-o-transition: height 1s, all 500;
	}

	.servicCat{
		width: 50%;
		overflow: hidden;
		display: none;
		/* same color as containerAbout*/
		background-color: rgba(255,255,255,.9);

		transition: height 1s, width 1s;
		-moz-transition: height 1s, width 1s;
		-webkit-transition: height 1s, width 1s;
		-o-transition: height 1s, width 1s;
	}

	.servicCat h1{
		padding-top: 2%;
		margin-bottom: 2%;
		margin-top: 0%;
		text-align: left;
		font-family: sans-serif;
		font-weight: normal;
	}

	.servicCat p{
		padding: 0 5% 2em 5%;
	}

	#basicService {
		height: auto;
		overflow: visible;
	}

	#cirlces{
		text-align: center;
		width: 100%;
		min-width:20em;
		position: absolute;
		bottom: 0px;
		left: 0px;
	}

	.serviceBlock{
		display: inline-block;
		width: 150px;
		height: 150px;
		vertical-align: top;
	}

	.block{
		display: inline-block;
	}

	.serviceCircle{
		display: block;
		width: 150px;
		height: 150px;
		-webkit-border-radius: 50%;
		margin: 0 0 0 0;
		transition: all 1s;
		-moz-transition: all 1s;
		-webkit-transition: all 1s;
		-o-transition: all 1s;
	}
	.serviceCircle img{
		width: 100%;
		height: 100%;
	}

	.serviceCircle:hover{
		width: 140px;
		height: 140px;
		/* half the width difference */
		margin: 5px 0px 0px 5px;
	}

/* == ClientArea == */
	#clients{
		padding-top: 20%;
	}
	#clientContainer{
		text-align: center;
		width: 100%;
		min-width:20em;
		background-color: rgb(255,255,255);
	}

	.client{
		display: inline-block;
		min-width: 200px;
		min-height: 100px;
	}

/* == Work == */
	#work{
		width: 100%;
		overflow: hidden;
	}

	#mainContainer{
		height: 100%;
		width: 200%;
		transition: left 1s;
		-moz-transition: left 1s;
		-webkit-transition: left 1s;
		-o-transition: left 1s;
		/*position: absolute;*/
		top: 0;
		left: 0%;
	}
	#leftContainer{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		height: 100%;
	}

	#workTopPadding{
		height: 25%;
		width: 100%;
	}
	#workButtons{
		background-color: #fff;
		width: 75%;
		min-width:20em;
		margin:0 auto 0 auto;
		padding-top: 2%;
		height: auto;
	}
	#rightContainer{
		display: inline-block;
		width: 50%;
		height: 100%;
		background-color: #ccf;
	}

	#work a{
		font-size: inherit;
		color: inherit;
	}

	#work .project{
		width: 45%;
		height: auto;
		display: inline-block;
		vertical-align: top;
		padding: 0 2.5% 0 2.5%;
	}

	#work .project:hover{
		background-color: #ccf;
	}
	.project h2{
		font-family: sans-serif;
		color: #000;
		margin: 0px;
		line-height: .95em;
		text-transform:uppercase;
	}
	.project h3{
		font-family: sans-serif;
		color: #fff;
		margin: 0px;
		line-height: .95em;	
		text-transform:uppercase;
	}
	.project p{
		margin-top: 0;
	}

	.royalSlider {
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 10;
		top: 0px;
		left: -100%;
		direction: ltr;
		background-color:#fcf;

		transition: left 1s;
		-moz-transition: left 1s;
		-webkit-transition: left 1s;
		-o-transition: left 1s;
	}

	#rsbackButton{
		position: fixed;
		left: -105%;
		bottom: 5%;
		z-index: 11;
		background-color: #000;

		transition: left 1s;
		-moz-transition: left 1s;
		-webkit-transition: left 1s;
		-o-transition: left 1s;
	}

/* == contact == */

#contactContainer{
	text-align: center;
}
#contactContainer h2{
	margin-bottom: 0;
}
#contactContainer h3{
	margin: 0;
	background-color: #fff;
}

