html,body{
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}

body{
}

#nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
#nav li{
	margin: 0px;
	padding:  1em 1em 1em 1em;
}

#nav li:hover{
	background-color: #fcf;
}

a{
	text-decoration: none;
	color: inherit;
}

#bkContainer{
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}