<html>
<head>
	<title></title>
	<style type="text/css">
	</style>
	<script src="/../static/js/jquery.min.js"></script>
	<script src="/../static/js/jquery.backstretch.min.js"></script>
</head>
<body>
<div style="width:100%;height:50px;" id="special">
<script type="text/javascript">
	special.backstretch("/static/img/uploaded/1.png");
</script>
</div>
<!-- Quote 1 -->
{%with quote=categories.Quote.text%}
	<h1>{{quote.0.location}}</h1>
	{{quote.0.type}}
{%endwith%}

<!-- about -->
{%with about=categories.About%}
	{% for text in about.text%}
		<h1>{{text.location}}</h1>
		<p>{{text.type|safe}}</p>
	{%endfor%}
	{% if about.bkImage %}
		<img src="/static/img/uploaded/{{about.bkImage}}">
	{% endif %}
	{% for vidType in about.bkVid%}
		<video style="width:25%; height:auto;"src="/static/img/uploaded/{{vidType.location}}"></video>
	{%endfor%}
{%endwith%}

<!-- Quote 2  -->
{%with quote=categories.Quote.text%}
	<h1></h1>
	{{quote.1.type}}
{%endwith%}
<br>
<!-- services -->


<!-- clients -->
{%with clients=categories.Clients%}
	{% for media in clients.media%}
		<img src="/static/img/uploaded/{{media.location}}">
	{%endfor%}

	{% if clients.bkImg %}
		<img src="/static/img/uploaded/{{clients.bkImg.location}}">
	{% endif %}
{%endwith%}

<!-- work -->
{%with work=categories.Work%}
	<script type="text/javascript">
	var works = {
		{%for article in work.articles%}

		"{{article.title}}":{
			"slug":"{{article.slug}}",
			"Links":[
			{%for page in article.pages%}
				"projects/{{article.slug}}/{{page.slug}}/",
			{%endfor%}
			]
		},
		{%endfor%}
	}
	</script>
	{%for article in work.articles%}
		<p>{{article.subHead}}</p>
		<p>{{article.description}}</p>
	{%endfor%}
	<br>
	{% for vidType in work.bkVid%}
		<video style="width:25%; height:auto;"src="/static/img/uploaded/{{vidType.location}}"></video>
	{%endfor%}

{%endwith%}

<!-- services -->
<br>
{%with services=categories.Services.articles.0%}
	<h2>{{services.subHead}}</h2>
	<p>{{services.description}}</p>
	{%for section in services.text.text%}
		<h3>{{section.location}}</h3>
		<p>{{section.type}}</p>
	{%endfor%}
	<br>
	<img src="/static/img/uploaded/{{categories.Services.bkImg.location}}">
{%endwith%}

<!-- Quote 3  -->
{%with quote=categories.Quote.text%}
	<h1>{{quote.2.location}}</h1>
	{{quote.2.type}}
	<br>
	<img src="/static/img/uploaded/{{quote.2.bkImg}}">
{%endwith%}
<br>

<!-- Contact -->
{%with contact=categories.Contact%}
	{%for mean in contact.text%}
		<h3>{{mean.location}}</h3>
		<p>{{mean.type}}</p>
	{%endfor%}
	{% for vidType in contact.bkVid%}
		<video style="width:25%; height:auto;"src="/static/img/uploaded/{{vidType.location}}"></video>
	{%endfor%}
{%endwith%}

<!-- {%with quotes=categories.Quote%}
	{% for text in quotes.text%}
		<h1>{{text.location}}</h1>
		<p>{{text.type|safe}}</p>
		{% if text.bkImage %}
			<img src="/static/img/uploaded/{{text.bkImage}}">
		{% endif %}
		{% if text.bkVideo %}
			{% for vid in text.bkVideo%}
				<video width="100px" height="100px" src="/static/img/uploaded/{{vid.name}}">
				</video>
			{%endfor%}
		{% endif %}
	{%endfor%}
	{% if clients.bkImage %}
		<img src="/static/img/uploaded/{{quotes.bkImage}}">
	{% endif %}
{%endwith%}
 -->


	<link rel="stylesheet" href="static/css/royalslider.css">
	<link rel="stylesheet" href="static/css/rs-default.css">

	<script src='static/js/jquery.min.js'></script>
	<script src="static/js/jquery.royalslider.min.js"></script>

	<script>
	$(".onlyButton").click(function(){
		var workToShow = works[this.value];

		var rsSlider = document.createElement("div");
		rsSlider.style.left = "100%";
		rsSlider.setAttribute("class","royalSlider");
		document.body.appendChild(rsSlider);

		var backButton = document.createElement("a");
		backButton.innerHTML = "Back";
		backButton.style.left = "105%";
		backButton.id = "rsbackButton";
		$(backButton).click(function(){
			rsSlider.style.left = "100%";
			backButton.style.left = "105%";
			setTimeout(function(){
				rsSlider.parentNode.removeChild(rsSlider);
				backButton.parentNode.removeChild(backButton);
			},1000);
		});
		document.body.appendChild(backButton);

		rsSlider.innerHTML = "";
		var newElement = document.createElement("div");
		newElement.setAttribute("class","rsContent");

		var numberofslides = workToShow["Links"].length;
		for(var a = 0; a < numberofslides; ++a){
			var temp = newElement.cloneNode(true)
			temp.innerHTML += "  " + a;
			rsSlider.appendChild(temp);
		}

		var rsSliderChildren = rsSlider.childNodes;

		$(rsSliderChildren[0]).load(workToShow["Links"][0],function(){
			with(rsSlider.style){
				left = "0%";
			}
			backButton.style.left = "5%";
			
			for(var a = 1; a < rsSliderChildren.length; ++a){
				$(rsSliderChildren[a]).load(workToShow["Links"][a]);
			}

			$(".royalSlider").royalSlider({
				// options go here
				// as an example, enable keyboard arrows nav
				keyboardNavEnabled: true
			});
		});


	});

	</script>

</body>
</html>