 <!DOCTYPE html lang="en">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US" xmlns:x2="http://www.w3.org/2002/06/xhtml2">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Dot Dot Dash</title>


		<!-- Make sure to replace all the keywords ands such!!! -->
		<!--Description, Keywords-->
		<meta name="description" content="OCAD University’s Faculty of Design is announcing a call for proposals for Urban Ecologies 2013, a conference that will examine the impact of five intersecting themes that are shaping the future of design in our cities.">

		<meta name="keywords" content="Urban Ecologies, 2013, OCAD University, design, Ontario College of Art and Design, conference, TDBank, Toronto Dominion, research, architecture, healthcare, visualization, urban planning, community">

		<!--For Mobile Devices-->
        <meta name="viewport" content="width=1024, user-scalable=no">

		<!--Stylesheets-->
		<link rel="stylesheet" type="text/css" href="/../static/css/normalize.min.css">
        <link rel="stylesheet" href="/../static/css/main.css">

		<!-- We need to get the logo in here! -->
		<link rel="icon" type="image/png" href="/../static/img/logo.png">


		<link href="http://localhost:8124/static/css/video-js.css" rel="stylesheet">
		<script src="http://localhost:8124/static/js/video.js"></script>
		<!-- <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
		<script src="http://vjs.zencdn.net/c/video.js"></script> -->
		<script>
			_V_.options.flash.swf = "http://example.com/path/to/video-js.swf"
		</script>

		<link rel="stylesheet" href="/../static/css/royalslider.css">
		<link rel="stylesheet" href="/../static/css/rs-default.css">

		<script type="text/javascript">
		//the background collector
		</script>
    </head>
<body>

<!--[if lt IE 7]>
	<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
<nav id="sticky_navigation"><!--  once it gets down to this area it gains the class nav_fixed -->
	<img id="largeLogo" src="/../static/img/assets/logo.png">
	<ul id="stickPoint">
		<li id="aboutLink"><a href="#about">About</a></li>
		<li id="serviceLink"><a href="#services">Services</a></li>
		<li id="clientsLink"><a href="#clients">Clients</a></li>
		<li id="ourWorkLink"><a href="#work">Our Work</a></li>
		<li id="contactLink"><a href="#work">Contact</a></li>
		<li><a href="{{categories.SocialMedia.text.0.type}}"><img id="{{categories.SocialMedia.text.0.location}}" width="40px" src="/static/uploaded/{{categories.SocialMedia.text.0.bkImg}}"></a></li>
		<li><a href="{{categories.SocialMedia.text.1.type}}"><img id="{{categories.SocialMedia.text.1.location}}" width="40px" src="/static/uploaded/{{categories.SocialMedia.text.1.bkImg}}"></a></li>
	</ul>
</nav>

{%with quote=categories.Quote.text.0%}
	<div class="bkImage"><video id="vid_1" class="video-js vjs-default-skin" poster="{{quote.placeHold}}" autoplay loop>
		{% for vidType in quote.bkVid%}
		<source src="http://localhost/videos/Lightning/Lightning.mp4" type="video/mp4"/>
		<!-- http://stackoverflow.com/questions/8088364/html5-video-will-not-loop -->
		<!-- <source src="http://192.168.100.105:8124/static/uploaded/{{vidType.name}}" type="video/{{vidType.type}}"/> -->
		{%endfor%}

	</video></div>
{%endwith%}
<!--
				{"range":400,"parent":document.getElementById("{{quote.location}}"),"tag":"remove","mp4":[
				{% for vidType in quote.bkVid%}
					{% if forloop.last %}{type: "video/{{vidType.type}}", src: "http://192.168.100.105:8124/static/uploaded/{{vidType.name}}"}{% else %}
					{type: "video/{{vidType.type}}", src: "http://192.168.100.105:8124/static/uploaded/{{vidType.name}}"},{% endif %}
				{%endfor%}
				],"loadImg":""},
			 -->

<div class="bkImage" id="bkStrechImage"></div>

<section class="quote">
	<p id="{{categories.Quote.text.0.location}}">
			{{categories.Quote.text.0.type|safe}}
	</p>
</section>
<section class="quote">
	<p id="{{categories.Quote.text.1.location}}">
			{{categories.Quote.text.1.type|safe}}
	</p>
</section>

<section class="quote">
	<p id="{{categories.Quote.text.2.location}}">
			{{categories.Quote.text.2.type|safe}}
	</p>
</section>

<section id="about">
{%with about=categories.About%}
	<div id="containerAbout">
		{% for text in about.text%}
			<h1>{{text.location}}</h1>
			<div id="twoColoumContent">{{text.type|safe}}</div>
		{%endfor%}
	</div>
{%endwith%}
</section>

<section class="quote">
	<p id="{{categories.Quote.text.3.location}}">
			{{categories.Quote.text.3.type|safe}}
	</p>
</section>

<section id="services">
	<div id="containerAbout">
		<h1>{{categories.Services.text.0.location}}</h1>
		{{categories.Services.text.0.type}}
		{% for media in categories.Services.media%}<div class="client">
			<img src="/static/uploaded/{{media.location}}">
		</div>{%endfor%}
	</div>
</section>
<section id="clients">
	<div id="containerAbout">
	{{categories.Clients.title}}
	{{categories.Clients.text.0.type}}
	</div>
	<div id="clientContainer">
	{% for media in categories.Clients.media%}<div class="client">
		<img src="/static/uploaded/{{media.location}}">
	</div>{%endfor%}
	</div>
</section>

<section id="work">
{%with work=categories.Work%}
	<script type="text/javascript">
	var works = {
		{%for article in work.articles%}

		"{{article.title}}":{
			"slug":"{{article.slug}}",
			"Links":[
			{%for page in article.pages%}
				"projects/{{article.slug}}/{{page.slug}}/",
			{%endfor%}
			]
		},
		{%endfor%}
	}
	</script>
	<div id="mainContainer"><div id="leftContainer">
			<div id="workTopPadding"></div>
			<div id="workButtons">{%for article in work.articles%}<a href="#" id="{{article.title}}" class="project">
				<h2>{{article.title}}</h2>
				<h3>{{article.subHead}}</h3>
				<p>
					{{article.description}}
				</p>
				</a>{%endfor%}
			</div>
		</div><div id="rightContainer">
		</div>
	</div>
{%endwith%}
</section>

<!-- <section id="socMedia">

</section> -->

<section id="contact">
	<div id="containerAbout">
	<h2>{{categories.Contact.title}}</h2>
	<h3>{{categories.Contact.text.0.type|safe}}</h3>
	</div>
</section>

<script src="/../static/js/jquery.min.js"></script>
<script src="/../static/js/waypoints.min.js"></script>
<script src="/../static/js/jquery.backstretch.min.js"></script>
<script src="/../static/js/jquery.royalslider.min.js"></script>
<script src="/../static/js/script.js"></script>
<script type="text/javascript">
//INITIALIZATION of everything!!
	if(window.location.hash){
		goToThisEndPoint(window.location.hash.substring(1))
	}
	var scrollFromTop = 0;
	var windowHeight = windowSize().height;
//this allows us to use transparency
	var useOpacity = (typeof document.createElement("div").style.opacity != 'undefined');

//nav
	$("#largeLogo").one('load',function(){						//when the image loads do this
		$(setUpStaticLocationOfSticky(false)).waypoint(function(){ 	//setUpStaticLocationOfSticky returns an emement
			$("#sticky_navigation").toggleClass("nav_fixed");
		});
	}).each(function() {
		if(this.complete) $(this).load();
	}).error(function(){
		$(setUpStaticLocationOfSticky(72)).waypoint(function(){ 	//we give an argument of a potential hight
			$("#sticky_navigation").toggleClass("nav_fixed");
		});
	});
	addEvent("aboutLink","about");
	addEvent("serviceLink","services");
	addEvent("clientsLink","clients");
	addEvent("ourWorkLink","work");
	addEvent("contactLink","contact");

//Quotes
{%with quote=categories.Quote.text%}
	var fadingElement = [
		{%for sing in quote%}new FadeingObject("{{sing.location}}"),{%endfor%}
	];
{%endwith%}
	for(var a = 0; a < fadingElement.length; ++a){
		fadingElement[a].makeFade(scrollFromTop,windowHeight);
	}

//services
	// {%with services=categories.Services.articles.0%}
	// 	var ServiceButtons = new Buttons(["basicService","serviceLink",{%for section in services.text.text%}"{{section.slug}}","{{section.slug}}Button",{%endfor%}]);
	// {%endwith%}


//background
	//videos

		var videos = [
			{%with quote=categories.Quote.text.0%}
				{"range":400,"parent":document.getElementById("{{quote.location}}"),"tag":"remove","mp4":[
				{% for vidType in quote.bkVid%}
					{% if forloop.last %}{type: "video/{{vidType.type}}", src: "http://192.168.100.105:8124/static/uploaded/{{vidType.name}}"}{% else %}
					{type: "video/{{vidType.type}}", src: "http://192.168.100.105:8124/static/uploaded/{{vidType.name}}"},{% endif %}
				{%endfor%}
				],"loadImg":"{{quote.placeHold}}"},
			{%endwith%}

			{"range":400,"parent":document.getElementById("about"),"tag":"aboutLink","img":1},

		//change this one to video
			{%with cat=categories.Services%}
				{"range":400,"parent":document.getElementById("services"),"tag":"serviceLink","mp4":[
					{% for vidType in cat.bkVid%}
						{% if forloop.last %}
						{type: "video/{{vidType.type}}", src: "http://192.168.100.105:8124/static/uploaded/{{vidType.location}}"}
						{% else %}
						{type: "video/{{vidType.type}}", src: "http://192.168.100.105:8124/static/uploaded/{{vidType.location}}"},
						{% endif %}
					{%endfor%}
				],"loadImg":"{{work.placeHold}}"},
			{%endwith%}

			{"range":400,"parent":document.getElementById("clients"),"tag":"clientsLink","img":2},
				{"range":400,"parent":document.getElementById("work"),"tag":"ourWorkLink","mp4":[
					{% for vidType in categories.Work.bkVid%}
						{% if forloop.last %}
						{type: "video/{{vidType.type}}", src: "http://192.168.100.105:8124/static/uploaded/{{vidType.location}}"}
						{% else %}
						{type: "video/{{vidType.type}}", src: "http://192.168.100.105:8124/static/uploaded/{{vidType.location}}"},
						{% endif %}
					{%endfor%}
				],"loadImg":"{{work.placeHold}}"},

			{%with contact=categories.Contact%}
				{"range":400,"parent":document.getElementById("contact"),"tag":"contactLink","img":3}
			{%endwith%}
		];

		determinHightsForVids();
		var currentVid = 0;
		var theVideo;
		_V_("vid_1").ready(function(){
//			this.addEvent('ended',restartVideo,false);
			theVideo = this;
			theVideo.volume(0);
			console.log(this);
		});



		var videoContainer = document.getElementById("vid_1");


		function restartVideo(){
			theVideo.currentTime = 0.1;
			theVideo.play();
		}


		//{"autoplay": true,"controls": false,"loop": "true","poster":'/../static/uploaded/'+videos[0]["loadImg"]}
		// theVideo.addEvent('ended',restartVideo);


	//images
		var imageContainer = document.getElementById("bkStrechImage");
		var images = $(imageContainer).backstretch([
			'/../static/uploaded/{{categories.About.bkImg.location}}',
			'/../static/uploaded/{{categories.Clients.bkImg.location}}',
			'/../static/uploaded/{{categories.Contact.bkImg.location}}'
		], {fade: 500}).data('backstretch').pause();
		imageContainer.style.opacity = 0;

	var transitioning = false;
</script>

<script type="text/javascript">
  // (function() {
  //   var config = {
  //     kitId: 'pvh7czu',
  //     scriptTimeout: 3000
  //   };
  //   var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
  // })();
</script>

<body>
	</html>